@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@plugin "daisyui" {
    themes: all
};

@theme {
  --color-brand-bg: #09090B;
  --color-brand-surface: #111827;
  --color-brand-primary: #4F46E5;
  --color-brand-secondary: #06B6D4;
  --color-brand-text: #F8FAFC;
  --color-brand-muted: #94A3B8;
  --color-brand-border: #27272A;
  --font-sans: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  -webkit-font-smoothing: antialiased;
}

.inputField {
  @apply w-full p-2 rounded bg-brand-surface border border-brand-border focus:outline-none focus:ring-2 focus:ring-brand-primary;
}

.btnGreen {
  @apply px-3 py-1 bg-green-500 hover:bg-green-600 rounded;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}